{% if not flash == '0' %}
    <div class="alert alert-{{ flashType }} alert-full alert-dismissible fade in">
        <button class="close" data-dismiss="alert">&times;</button>
        <div class="container">
            {% if flashType == 'success' %}
                {% include '_partials/icon.html.twig' with {'name': 'ok-sign', 'class': 'icon-offset'} %}
            {% elseif flashType == 'danger' %}
                {% include '_partials/icon.html.twig' with {'name': 'warning-sign', 'class': 'icon-offset'} %}
            {% elseif flashType == 'info' %}
                {% include '_partials/icon.html.twig' with {'class': 'icon-offset'} %}
            {% elseif flashType == 'warning' %}
                {% include '_partials/icon.html.twig' with {'name': 'warning-sign', 'class': 'icon-offset'} %}
            {% endif %}

            {% if flash == '1' %}
                You have been signed off. See you later!
            {% endif %}
        </div>
    </div>
{% endif %}
