<footer role="contentinfo" class="footer footer-sticky">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                © Synergic.cz 2015
            </div>
            <div class="col-md-3">
                <a href="http://www.synergic.cz" target="_blank" class="footer-author" title="Created by Synergic">
                    <img src="{{ app.request.basepath }}/images/synergic.svg" alt="Synergic" />
                </a>
            </div>
        </div><!-- .row -->
    </div><!-- .container -->
</footer>
